<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  

  <vendor>Smart Board</vendor>
  <vendor_url>http://downloads.smarttech.com/software/nb/11linux/11sp2/smart_software</vendor_url>
  <icon_name>battery</icon_name>

  <action id="smart.notebook">
    
    <description>Open the SMART Board Netbook software</description>
    <message>Anyone can execute it without permissions</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/SMART\ Technologies/Notebook\ Software/bin/Notebook/.notebook_elf</annotate>
  </action>

  <action id="smart.tools">
    
    <description>Open the SMART Board floating tools</description>
    <message>Anyone can execute it without permissions</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/SMART\ Technologies/SMART\ Product\ Drivers/bin/.SMART\ Board\ Tools_elf</annotate>
  </action>

</policyconfig>
