ui menu.c32
prompt 0
default Xubuntu2
timeout 20

label Xubuntu
 menu hidden
 menu clear
 kernel xenial/vmlinuz
 initrd xenial/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:/home/irudiak/xenial ip=dhcp swap --
 ipappend 2

label Clonezilla
 menu clear
 kernel clonezilla/vmlinuz
 initrd clonezilla/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:/home/irudiak/clonezilla union=overlay username=user config components noswap edd=on nomodeset noeject nodmraid locales=es_ES.UTF-8

label Stretch installer (amd64)
 menu clear
 kernel installer/amd64/linux
 initrd installer/amd64/initrd.gz
 append vga=788 --- quiet

label windows
 com32 chain.c32
 append hd0
