[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Terminal=false
Categories=SMART-Technologies;
Name=Orient
Comment=Orient
StartupNotify=false
Exec="/usr/local/bin/smartsudoorient"
Icon=SMART_Orient.png
Name[ca]=Orientar
Comment[ca]=Orientar
Name[de]=Kalibrierung
Comment[de]=Kalibrierung
Name[es]=Orientar
Comment[es]=Orientar
Name[eu]=Orientatu
Comment[eu]=Orientatu
Name[fi]=Suuntaus
Comment[fi]=Suuntaus
Name[fr]=Orienter
Comment[fr]=Orienter
Name[gl]=Orientar
Comment[gl]=Orientar
Name[it]=Orienta
Comment[it]=Orienta
Name[mk]=Ориентирај
Comment[mk]=Ориентирај
Name[nb]=Orientering
Comment[nb]=Orientering
Name[pt_BR]=Orientar
Comment[pt_BR]=Orientar
Name[ru]=Ориентация
Comment[ru]=Ориентация
Name[sq]=Oriento
Comment[sq]=Oriento
Name[sv]=Rikta
Comment[sv]=Rikta
Name[va]=Orienta
Comment[va]=Orienta
Name[zh_CN]=定位
Comment[zh_CN]=定位
Name[zh_TW]=定位
Comment[zh_TW]=定位
Name[el]=Προσανατολισμός
Comment[el]=Προσανατολισμός
Name[ta_IN]=நிலையமை
Comment[ta_IN]=நிலையமை
Name[te_IN]=ఓరియంట్
Comment[te_IN]=ఓరియంట్
Name[ml_IN]=ഓറിയന്‍റ്
Comment[ml_IN]=ഓറിയന്‍റ്
Name[mr_IN]=ओरिएंट
Comment[mr_IN]=ओरिएंट
Name[kn_IN]=ದಿಶಾನಿಗದಿ
Comment[kn_IN]=ದಿಶಾನಿಗದಿ
Name[hi_IN]=ओरिएंट
Comment[hi_IN]=ओरिएंट
Name[gu_IN]=નિર્ધારણ
Comment[gu_IN]=નિર્ધારણ
Name[ta]=நிலையமை
Comment[ta]=நிலையமை
Name[te]=ఓరియంట్
Comment[te]=ఓరియంట్
Name[ml]=ഓറിയന്‍റ്
Comment[ml]=ഓറിയന്‍റ്
Name[mr]=ओरिएंट
Comment[mr]=ओरिएंट
Name[kn]=ದಿಶಾನಿಗದಿ
Comment[kn]=ದಿಶಾನಿಗದಿ
Name[hi]=ओरिएंट
Comment[hi]=ओरिएंट
Name[gu]=નિર્ધારણ
Comment[gu]=નિર્ધારણ
