[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Terminal=false
Name=Notebook Software
Comment=SMART Notebook Software
Exec=/usr/local/bin/smart_notebook
Icon=SMART_Notebook.png
MimeType=application/x-smarttech-notebook;
Categories=Education;
Name[ca]=Programa Notebook
Comment[ca]=Programa Notebook
Name[de]=Notebook-Software
Comment[de]=Notebook-Software
Name[es]=Software de Notebook
Comment[es]=Software de Notebook
Name[eu]=Notebook softwarea
Comment[eu]=Notebook softwarea
Name[fi]=Notebook-ohjelmisto
Comment[fi]=Notebook-ohjelmisto
Name[fr]=Logiciel Notebook
Comment[fr]=Logiciel Notebook
Name[gl]=Software Notebook
Comment[gl]=Software Notebook
Name[it]=Software Notebook
Comment[it]=Software Notebook
Name[mk]=Софтвер Notebook
Comment[mk]=Софтвер Notebook
Name[nb]=Notebook-programvare
Comment[nb]=Notebook-programvare
Name[pt_BR]=Software Notebook
Comment[pt_BR]=Software Notebook
Name[ru]=Программа Notebook
Comment[ru]=Программа Notebook
Name[sq]=Softuer Notebook
Comment[sq]=Softuer Notebook
Name[sv]=Notebook-programmet
Comment[sv]=Notebook-programmet
Name[va]=Programari del Notebook
Comment[va]=Programari del Notebook
Name[zh_CN]=Notebook 软件
Comment[zh_CN]=Notebook 软件
Name[zh_TW]=Notebook Software
Comment[zh_TW]=Notebook Software
Name[el]=Λογισμικό Notebook
Comment[el]=Λογισμικό Notebook
Name[ta_IN]=Notebook மென்பொருள்
Comment[ta_IN]=Notebook மென்பொருள்
Name[te_IN]=Notebook సాఫ్ట్‌వేర్
Comment[te_IN]=Notebook సాఫ్ట్‌వేర్
Name[ml_IN]=Notebook സോഫ്റ്റ്‌വെയര്‍
Comment[ml_IN]=Notebook സോഫ്റ്റ്‌വെയര്‍
Name[mr_IN]=Notebook सॉफ्टवेअर
Comment[mr_IN]=Notebook सॉफ्टवेअर
Name[kn_IN]=Notebook ಸಾಫ್ಟ್‌‌‌ವೇರ್
Comment[kn_IN]=Notebook ಸಾಫ್ಟ್‌‌‌ವೇರ್
Name[hi_IN]=Notebook सॉफ़्टवेयर
Comment[hi_IN]=Notebook सॉफ़्टवेयर
Name[gu_IN]=Notebook સોફ્ટવેર
Comment[gu_IN]=Notebook સોફ્ટવેર
