ui menu.c32
prompt 0
default Gela 64 bit
timeout 20

label Gela64
 menu clear
 kernel tftp/livecds/gela/vmlinuz
 initrd tftp/livecds/gela/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/gela swap
 ipappend 2 

label Gela32
 menu clear
 kernel tftp/livecds/gela32/vmlinuz
 initrd tftp/livecds/gela32/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/gela32 swap
 ipappend 2 

label Portatila64
 menu clear
 kernel tftp/livecds/portatila/vmlinuz
 initrd tftp/livecds/portatila/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatila swap
 ipappend 2 

label Portatila32
 menu clear
 kernel tftp/livecds/portatila32/vmlinuz
 initrd tftp/livecds/portatila32/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatila32 swap
 ipappend 2 

label Zerbitzaria64
 menu clear
 kernel tftp/livecds/zerbitzaria/vmlinuz
 initrd tftp/livecds/zerbitzaria/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/zerbitzaria swap
 ipappend 2 

label Zerbitzaria32
 menu clear
 kernel tftp/livecds/zerbitzaria32/vmlinuz
 initrd tftp/livecds/zerbitzaria32/initrd.img
 append panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/zerbitzaria32 swap
 ipappend 2 

label Stretch installer (amd64)
 menu clear
 kernel tftp/installers/debian/amd64/linux
 initrd tftp/installers/debian/amd64/initrd.gz
 append vga=788 --- quiet

label Focal installer (amd64)
 menu clear
 kernel tftp/installers/ubuntu/amd64/linux
 initrd tftp/installers/ubuntu/amd64/initrd.gz
 append vga=788 --- quiet

label Stretch installer (i386)
 menu clear
 kernel tftp/installers/debian/i386/linux
 initrd tftp/installers/debian/i386/initrd.gz
 append vga=788 --- quiet

label WindowsPE
 kernel tftp/windows/memdisk  
 initrd tftp/windows/winpe.img    
 append raw
