[Unit]
Description=OCSng inventory agent
Documentation=man:ocsinventory-agent
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
# if you have systemd >= 240, you probably want to use Type=exec instead
Type=simple
User=root
ExecStart=/usr/bin/ocsinventory-agent -s 192.168.0.107
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
