if loadfont /grub/font.pf2 ; then
set gfxmode=auto
insmod efi_gop
insmod efi_uga
insmod gfxterm
terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
set timeout=5

menuentry "Gela 64 bit" {
 echo "Gela abiarazten..."
 linux /livecds/gela/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/gela ksdevice=bootif swap mitigations=off
 initrd /livecds/gela/initrd.img
}

menuentry "Gela 32 bit" {
 echo "Gela32 abiarazten..."
 linux /livecds/gela32/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/gela32 ksdevice=bootif swap mitigations=off
 initrd /livecds/gela32/initrd.img
}

menuentry "Portatila 64 bit" {
 echo "Portatila abiarazten..."
 linux /livecds/portatila/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatila ksdevice=bootif swap mitigations=off
 initrd /livecds/portatila/initrd.img
}

menuentry "Portatila 32 bit" {
 echo "Portatila32 abiarazten..."
 linux /livecds/portatila32/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatila32 ksdevice=bootif swap mitigations=off
 initrd /livecds/portatila32/initrd.img
}

menuentry "Portatil txikia 64 bit" {
 echo "Portatil txikia abiarazten..."
 linux /livecds/portatiltxikia/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatiltxikia ksdevice=bootif swap mitigations=off
 initrd /livecds/portatiltxikia/initrd.img
}

menuentry "Portatil txikia 32 bit" {
 echo "Portatil txikia abiarazten..."
 linux /livecds/portatiltxikia32/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatiltxikia32 ksdevice=bootif swap mitigations=off
 initrd /livecds/portatiltxikia32/initrd.img
}

menuentry "Zerbitzaria 64 bit" {
 echo "Zerbitzaria abiarazten..."
 linux /livecds/zerbitzaria/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/zerbitzaria ksdevice=bootif swap mitigations=off
 initrd /livecds/zerbitzaria/initrd.img
}

menuentry "Zerbitzaria 32 bit" {
 echo "Zerbitzaria32 abiarazten..."
 linux /livecds/zerbitzaria32/vmlinuz panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/zerbitzaria32 ksdevice=bootif swap mitigations=off
 initrd /livecds/zerbitzaria32/initrd.img
}

menuentry "Bullseye installer (amd64)" {
 echo "Loadig Debian installer (amd64)..."
 set gfxpayload=800x600x16,800x600
 linux /installers/debian/amd64/linux --- quiet
 initrd /installers/debian/amd64/initrd.gz
}

menuentry "Bullseye installer (amd64) firmware" {
 echo "Loadig Debian installer (amd64)..."
 set gfxpayload=800x600x16,800x600
 linux /installers/debian/amd64/linux --- quiet
 initrd /installers/debian/amd64/intrdfirm.gz
}

menuentry "Bullseye installer (i386)" {
 echo "Loadig Debian installer (i386)..."
 set gfxpayload=800x600x16,800x600
 linux /installers/debian/i386/linux --- quiet
 initrd /installers/debian/i386/initrd.gz
}

menuentry "Bullseye installer (i386) firmware" {
 echo "Loadig Debian installer (i386)..."
 set gfxpayload=800x600x16,800x600
 linux /installers/debian/i386/linux --- quiet
 initrd /installers/debian/i386/intrdfirm.gz
}

menuentry "Windows PE" {
 echo "Loadig wimboot..."
 linux /windows/wimboot
 initrd /windows/bcd
 initrd /windows/boot.sdi
 initrd /windows/boot.wim
}

menuentry "Windows PE img" {
 echo "Loadig Windows PE memdisk..."
 linux /windows/memdisk raw
 initrd /windows/winpe.img
}
