[Desktop Entry]
Version=1.0
Type=Application
Name=Urdintxo eta Pox
Icon=/opt/jokoak/urdintxoetapox/ikonoa.png
Exec=/usr/local/bin/urdintxo
Categories=Game;
