[Desktop Entry]
Name=Inpresora
Comment=Defektuz beheko fotokopiagailura bidali
Type=Application
Exec=/usr/bin/lpoptions -d BehekoFotokopiagailua
X-GNOME-Autostart-Phase=Initialization
