#!ipxe
prompt --timeout 2000 Press any key to show the boot menu... && goto MENU || goto default 

:MENU
menu
item --gap -- ---------------- iPXE boot menu ----------------
item gela64                  Gela 64 bit
item gela32                  Gela 32 bit
item portatila64             Portatila 64 bit
item portatila32             Portatila 32 bit
item zerbitzaria64           Zerbitzaria 64 bit
item zerbitzaria32           Zerbitzaria 32 bit
item debianinstall64         Debian Stretch installer amd64
item ubuntuinstall64         Ubuntu Focal installer amd64
item debianinstall32         Debian Stretch installer i386
item winpe                   Windows PE
item local                   Local disk
item shell                   ipxe shell
item exit                    exit
choose target && goto ${target}

:default
goto gela64 ||
goto MENU
 
:gela64
kernel /livecds/gela/vmlinuz
initrd /livecds/gela/initrd.img
imgargs vmlinuz initrd=initrd.img panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/gela ksdevice=bootif BOOTIF=${netX/mac} swap mitigations=off
boot ||
goto MENU

:gela32
kernel /livecds/gela32/vmlinuz
initrd /livecds/gela32/initrd.img
imgargs vmlinuz initrd=initrd.img panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/gela32 ksdevice=bootif BOOTIF=${netX/mac} swap mitigations=off
boot ||
goto MENU

:portatila64
kernel /livecds/portatila/vmlinuz
initrd /livecds/portatila/initrd.img
imgargs vmlinuz initrd=initrd.img panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatila ksdevice=bootif BOOTIF=${netX/mac} swap mitigations=off
boot ||
goto MENU

:portatila32
kernel /livecds/portatila32/vmlinuz
initrd /livecds/portatila32/initrd.img
imgargs vmlinuz initrd=initrd.img panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/portatila32 ksdevice=bootif BOOTIF=${netX/mac} swap mitigations=off
boot ||
goto MENU

:zerbitzaria64
kernel /livecds/zerbitzaria/vmlinuz
initrd /livecds/zerbitzaria/initrd.img
imgargs vmlinuz initrd=initrd.img panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/zerbitzaria ksdevice=bootif BOOTIF=${netX/mac} swap mitigations=off
boot ||
goto MENU

:zerbitzaria32
kernel /livecds/zerbitzaria32/vmlinuz
initrd /livecds/zerbitzaria32/initrd.img
imgargs vmlinuz initrd=initrd.img panic=10 ro boot=live root=/dev/nfs nfsroot={{ ansible_default_ipv4.address }}:{{ tftp_root }}/livecds/zerbitzaria32 ksdevice=bootif BOOTIF=${netX/mac} swap mitigations=off
boot ||
goto MENU

:debianinstall64
kernel /installers/debian/amd64/linux
initrd /installers/debian/amd64/initrd.gz
imgargs linux initrd=initrd.gz vga=788
boot ||
goto MENU

:ubuntuinstall64
kernel /installers/ubuntu/amd64/linux
initrd /installers/ubuntu/amd64/initrd.gz
imgargs linux initrd=initrd.gz vga=788
boot ||
goto MENU

:debianinstall32
kernel /installers/debian/i386/linux
initrd /installers/debian/i386/initrd.gz
imgargs linux initrd=initrd.gz vga=788
boot ||
goto MENU

:winpe
kernel /windows/wimboot gui
initrd /windows/bcd BCD
initrd /windows/boot.sdi boot.sdi
initrd /windows/boot.wim boot.wim
boot ||
goto MENU

:local
sanboot --no-describe --drive 0x80
||
goto MENU

:shell
shell ||
goto MENU

:exit
exit
 
autoboot
